<h1>List of users</h1>


<table border="1">
  <tr>
    <th>
      Username
    </th>

    <th>
      Private?
    </th>
    
    <th>
      
    </th>

    <th></th>
  </tr>

  <% @users.each do |user| %>
  <tr>
    <td>
      <%= user.username %>
    </td>

    <td>
      <% if user.private == true %>
        Yes
      <% else %>
        No
      <% end %>
    </td>
    
    <td>
      <% if @user_id != nil %>
        <% if user.followers.where({ :id => @user_id}) != nil && user.id != @user_id %>
            <a href="">Unfollow</a>
        <% else %>  
            <form action="/insert_follow_request" method="post">
              <input id="recipient_id" type="hidden" value="<%= user.id %>" name="query_recipient_id">
              <input id="request_status" type="hidden" value="accepted" name="query_status">
              <button>Follow</button>
            </form>  
        <% end %>
      <% end %>
    </td>

    <td>
      <a href="/users/<%= user.username %>">Show details</a>
    </td>
  </tr>
  
  <% end %>
</table>
